<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,113},{10,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{10,11}}</string>
                <key>sourceSize</key>
                <string>{14,13}</string>
            </dict>
            <key>drop.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,76},{19,35}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{19,35}}</string>
                <key>sourceSize</key>
                <string>{25,45}</string>
            </dict>
            <key>jump_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,55},{20,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{20,16}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>jump_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,74},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>jump_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,37},{20,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{20,16}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>jump_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,73},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,76},{23,35}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{23,35}}</string>
                <key>sourceSize</key>
                <string>{25,45}</string>
            </dict>
            <key>normalS.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,39},{23,33}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{23,33}}</string>
                <key>sourceSize</key>
                <string>{25,45}</string>
            </dict>
            <key>prostrate.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,92},{32,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,17}}</string>
                <key>sourceSize</key>
                <string>{32,17}</string>
            </dict>
            <key>prostrateS.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,92},{32,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,17}}</string>
                <key>sourceSize</key>
                <string>{32,17}</string>
            </dict>
            <key>runS_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,39},{25,35}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{25,35}}</string>
                <key>sourceSize</key>
                <string>{25,45}</string>
            </dict>
            <key>runS_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{25,35}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{25,35}}</string>
                <key>sourceSize</key>
                <string>{25,45}</string>
            </dict>
            <key>runS_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{23,35}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{23,35}}</string>
                <key>sourceSize</key>
                <string>{25,45}</string>
            </dict>
            <key>run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,2},{21,35}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{21,35}}</string>
                <key>sourceSize</key>
                <string>{25,45}</string>
            </dict>
            <key>run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{21,33}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{21,33}}</string>
                <key>sourceSize</key>
                <string>{25,45}</string>
            </dict>
            <key>run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{19,35}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{19,35}}</string>
                <key>sourceSize</key>
                <string>{25,45}</string>
            </dict>
            <key>run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,39},{19,35}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{19,35}}</string>
                <key>sourceSize</key>
                <string>{25,45}</string>
            </dict>
            <key>run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,2},{21,33}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{21,33}}</string>
                <key>sourceSize</key>
                <string>{25,45}</string>
            </dict>
            <key>run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,39},{19,35}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{19,35}}</string>
                <key>sourceSize</key>
                <string>{25,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stallone.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d3ebce21b1613401a2fa970efdbbfb3$</string>
            <key>textureFileName</key>
            <string>stallone.png</string>
        </dict>
    </dict>
</plist>
